APIConnect==2.0.8
breeze_connect==1.0.60

certifi==2025.1.31
requests==2.31.0
urllib3==2.3.0

flask==3.1.0
logzero==1.7.0

pandas==2.2.3
ta==0.11.0
pyotp==2.9.0
PyYAML==6.0.2

smartapi-python==1.5.4
upstox-python-sdk==2.11.0
pya3==1.0.29

websocket-client
websockets==14.2
Twisted==24.11.0
protobuf==5.29.3
